 <script>
    const toggle = document.getElementById("toggle-mode");
    const container = document.querySelector(".container");

    toggle.addEventListener("click", () => {
        document.body.classList.toggle("darkmode");
        container.classList.toggle("darkmode");
});
  </script>
</body>

</html>